@import 'styles/typography';

.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px 0;
  align-items: center;

  &:hover {
    font-weight: bold;
    * {
      color: var(--blue);
      stroke: var(--blue);
      stroke-width: 1;
    }
  }
}
.label {
  @include caption_regular;
  color: var(--gray);
  // margin: 4px 0;
}
.active {
  @include caption_bold;
  color: var(--blue);
  * {
    stroke: var(--blue);
    stroke-width: 1;
  }
}
