.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.scrollableParent {
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  width: calc(100vw - 16px);
  gap: 16px;
}

.bullets {
  display: flex;
  gap: 16px;
}

.bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--light);
}

.active {
  background-color: var(--blue);
}
