@import 'styles/typography';

.container {
  width: 165px;
  height: 282px;
  border-radius: 5px;
  border: 1px solid var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
}
.image {
  width: 133px;
  height: 133px;
}

.title {
  @include heading6;
  margin: 0;
}

.price {
  @include body_text_normal_bold;
  color: var(--blue);
  margin: 0;
}

.discount {
  display: flex;
  gap: 8px;
}

.previousPrice {
  @include caption_regular;
  font-size: 10px;
  color: var(--gray);
  text-decoration: line-through;
  margin: 0;
}

.percentage {
  @include caption_bold;
  font-size: 10px;
  color: var(--red);
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__left {
    display: flex;
    flex-direction: column;
  }

  // &__icon {
  //   grid-area: icon;
  // }
}
