@font-face {
  font-family: Poppins;
  src: url('@font/poppins/Poppins-Regular.ttf'),
    url('@font/poppins/Poppins-Bold.ttf');
}

:root {
  --blue: #40bfff;
  --red: #fb7181;
  --yellow: #ffc833;
  --green: #53d1b6;
  --purple: #5c61f4;
  --dark: #223263;
  --gray: #9098b1;
  --light: #ebf0ff;
  --white: #fff;
  --radius-textarea: 5px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.superContainer {
  min-height: 100vh;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
