@import '@styles/typography';

.container {
  position: relative;
  width: 100%;
}

.content {
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  // align-items: center;
  color: var(--white);
}

.title {
  @include heading2;
  width: 50%;
}

.subtitle {
  @include body_text_normal_regular;
}
