.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
}
.header__icons {
  display: flex;
  gap: 8px;
}

.header__label {
  border: 1px solid var(--grey);
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 12px 16px;
  gap: 4px;
  flex: 1 0 auto;
}

.header__label input {
  outline: none;
  border: none;
  font: 12px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.search {
  width: 16px;
  height: 16px;
}
.search path {
  stroke: var(--blue);
  stroke-width: 1px;
}

.offer {
  background-image: url('../public/assets/prom01.png');
  background-size: cover;
  margin: 0 auto;
  width: calc(100% - 16px);
  height: 206px;
}

.offer p {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: var(--white);
  margin: 24px;
}

.timer {
  display: flex;
  margin: 0 24px;
  gap: 2px;
  align-items: center;
  color: var(--white);
}

.clock_container {
  color: initial;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--white);
}
